# Module 5 Exercises

## Exercises: Level 1

#### Question 1:
Declare an empty list

In [1]:
my_list = []
print(type(my_list))

<class 'list'>

#### Question 2:
Declare a list with more than 5 items

In [2]:
cars = ['honda', 'ferari','toyota','ford', 'nissan','roll roce','bmw',]
print(type(cars))

<class 'list'>

#### Question 3:
Find the length of your list

In [3]:
print(len(my_list))
print(len(cars))

0
7

#### Question 4:
Get the first item, the middle item and the last item of the list

In [4]:
print(f"First Item In the List Is {cars[0]}\nMiddle Item in The List Is {cars[5]}\nLast item In the List is {cars[-1]}")

First Item In the List Is honda
Middle Item in The List Is roll roce
Last item In the List is bmw

#### Question 5:
Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [5]:
mixed_data_types = ['name', 'age', 'height','marital status','address']

#### Question 6:
Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [6]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle' ,'Amazon']

#### Question 7:
Print the list using print()

In [7]:
print(mixed_data_types)
print(it_companies)

['name', 'age', 'height', 'marital status', 'address']
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

#### Question 8:
Print the number of companies in the list

In [8]:
print(f'There is {len(it_companies)} Companies in the list ')

There is 7 Companies in the list

#### Question 9:
Print the first, middle and last company

In [9]:
print(f'first company is {it_companies[0]} \nmiddle company is {it_companies[3]}\nlast compony is {it_companies[-1]}')

first company is Facebook
middle company is Apple
last compony is Amazon

#### Question 10:
Print the list after modifying one of the companies

In [10]:
it_companies[0] = 'Instagram'
print(it_companies)

['Instagram', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

#### Question 11:
Add an IT company to it_companies

In [11]:
it_companies.append('Facebook')

print(it_companies)

['Instagram', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Facebook']

### Question 12:
Insert an IT company in the middle of the companies list

In [12]:
it_companies.insert(3,'YAHOO')
print(it_companies)

['Instagram', 'Google', 'Microsoft', 'YAHOO', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Facebook']

### Question 13:
Change one of the it_companies names to uppercase (IBM excluded!)

In [13]:
it_companies_uppercase = [company.upper() for company in it_companies]
print(it_companies_uppercase)

['INSTAGRAM', 'GOOGLE', 'MICROSOFT', 'YAHOO', 'APPLE', 'IBM', 'ORACLE', 'AMAZON', 'FACEBOOK']

### Question 14:
Join the it_companies with a string '#;  '

In [14]:
join_companies = ' #;  '.join(it_companies)
print(join_companies)

Instagram #;  Google #;  Microsoft #;  YAHOO #;  Apple #;  IBM #;  Oracle #;  Amazon #;  Facebook

### Question 15:
Check if a certain company exists in the it_companies list.

In [15]:
check = 'Google' in it_companies
print(check)

True

### Question 16:
Sort the list using sort() method

In [16]:
it_companies.sort()
print("it print the list in ascending order")
print(it_companies)

it print the list in ascending order
['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Instagram', 'Microsoft', 'Oracle', 'YAHOO']

### Question 17:
Reverse the list in descending order using reverse() method

In [17]:
print("it print the list in descending order")
it_companies.sort(reverse = True)
print(it_companies)

it print the list in descending order
['YAHOO', 'Oracle', 'Microsoft', 'Instagram', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

### Question 18:
Slice out the first 3 companies from the list

In [18]:
slice_companies = it_companies[3:]
print(slice_companies)

['Instagram', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

### Question 19:
Slice out the last 3 companies from the list

In [19]:
slice_companies2 = it_companies[:-3]
print(slice_companies2)

['YAHOO', 'Oracle', 'Microsoft', 'Instagram', 'IBM', 'Google']

### Question 20:
Slice out the middle IT company or companies from the list

In [20]:
slice_companies3 = it_companies[::2]
print(slice_companies3)

['YAHOO', 'Microsoft', 'IBM', 'Facebook', 'Amazon']

### Question 21:
Remove the first IT company from the list

In [21]:
it_companies.remove('YAHOO')
print(it_companies)

['Oracle', 'Microsoft', 'Instagram', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

### Question 22:
Remove the middle IT company or companies from the list

In [22]:
del it_companies[4:6]
print(it_companies)

['Oracle', 'Microsoft', 'Instagram', 'IBM', 'Apple', 'Amazon']

### Question 23:
Remove the last IT company from the list

In [23]:
it_companies.pop()
print(it_companies)

['Oracle', 'Microsoft', 'Instagram', 'IBM', 'Apple']

### Question 24:
Remove all IT companies from the list

In [24]:
it_companies.clear()
print(it_companies)

[]

### Question 25:
Destroy the IT companies list

In [25]:
del it_companies
print(it_companies)

NameError: name 'it_companies' is not defined

### Question 26:
Join the following lists:

    front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
    back_end = ['Node','Express', 'MongoDB']

In [ ]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
full_stack = front_end + back_end
print(full_stack)

### Question 27:
After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

In [ ]:
full_stack.insert(6, 'Python')
print(full_stack)
full_stack.append('SQL')
print(full_stack)

## Exercises: Level 2

### Question 1:
The following is a list of 10 students ages:
```python
 ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]


*   Sort the list and find the min and max age
*   Add the min age and the max age again to the list
*   Find the median age (one middle item or two middle items divided * by two)
*   Find the average age (sum of all items divided by their number )
*   Find the range of the ages (max minus min)
*   Compare the value of (min - average) and (max - average),use abs() method

In [ ]:
# List of ages
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# 1. Sort the list and find the min and max age
ages.sort()
min_age = ages[0]
max_age = ages[-1]
print("Sorted ages:", ages)
print("Min age:", min_age)
print("Max age:", max_age)

# 2. Add the min age and max age again to the list
ages.extend([min_age, max_age])
print("Ages after adding min and max again:", ages)

# 3. Find the median age
ages.sort()  # Sort again after modifying the list
n = len(ages)
if n % 2 == 0:  # If even number of elements
    median_age = (ages[n // 2 - 1] + ages[n // 2]) / 2
else:  # If odd number of elements
    median_age = ages[n // 2]
print("Median age:", median_age)

# 4. Find the average age
average_age = sum(ages) / len(ages)
print("Average age:", average_age)

# 5. Find the range of the ages
age_range = max_age - min_age
print("Age range:", age_range)

# 6. Compare (min - average) and (max - average) using abs()
min_diff = abs(min_age - average_age)
max_diff = abs(max_age - average_age)
print("Difference between min and average:", min_diff)
print("Difference between max and average:", max_diff)

### Question 1i:
Find the middle country(ies) in the countries list

In [ ]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
];

# Find the middle index or indices
n = len(countries)
if n % 2 == 0:  # Even number of countries
    middle_countries = countries[n // 2 - 1:n // 2 + 1]
else:  # Odd number of countries
    middle_countries = [countries[n // 2]]

print("length of the Countries:", n)
print("Middle country(ies):", middle_countries)

### Question 1ii:
Divide the countries list into two equal lists if it is even if not one more country for the first half.

In [ ]:
# Split the list into two parts
n = len(countries)
mid = n // 2

if n % 2 == 0:
    first_half = countries[:mid]
    second_half = countries[mid:]
    print("the Contries are Even:")
else:
    first_half = countries[:mid + 1]
    second_half = countries[mid + 1:]
    print("the Contries are odd:")

# Print the two halves
print("First half:", first_half)
print("Second half:", second_half)

### Question 1iiI:
['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.

In [ ]:
# Unpack the list
first, second, third, *scandic_countries = countries

# Print the results
print("First country:", first)
print("Second country:", second)
print("Third country:", third)
print("Scandic countries:", scandic_countries)

## Tuple Exercises

## Tuple Exercises: Level 1

#### Question 1:
Create an empty tuple

In [ ]:
my_bio = ()
print(type(my_bio))

#### Question 2:
Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)

In [ ]:
family_tree = ('Jane', 'Mary', 'Jack', 'Sue', 'Tom', 'Jerry')

for member in family_tree:
    print(member)

# Tuples are immutable
# family_tree[0] = 'John'

#### Question 3:
Join brothers and sisters tuples and assign it to siblings

In [ ]:
brothers = ('Jack', 'Jerry','John','Tom')
sisters = ('Mary', 'Jane', 'Sue')
siblings = brothers + sisters
print(siblings)

#### Question 4:
How many siblings do you have?

In [ ]:
num_siblings = len(siblings)
print(f"I have {num_siblings} siblings.")

#### Question 5:
Modify the siblings tuple and add the name of your father and mother and assign it to family_members

In [ ]:
family_members = siblings + ("Farooq", "Maryam")

print(f"Family members: {family_members}")

### Tuple Exercises: Level 2

#### Question 1:
Unpack siblings and parents from family_members

In [ ]:
siblings = family_members[:-2]  # All items except the last two
parents = family_members[-2:]  # Last two items (Father, Mother)

print(f"Siblings: {siblings}")
print(f"Parents: {parents}")

#### Question 2:
Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.

In [ ]:
fruits = ("apple", "banana", "orange")
vegetables = ("carrot", "spinach", "potato")
animal_products = ("milk", "cheese", "egg")

food_stuff_tp = fruits + vegetables + animal_products
print(f"Food Stuff Tuple: {food_stuff_tp}")

#### Question 3:
Change the about food_stuff_tp tuple to a food_stuff_lt list

In [ ]:
food_stuff_lt = list(food_stuff_tp)
print(type(food_stuff_lt))
print(f"Food Stuff List: {food_stuff_lt}")

#### Question 4:
Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.

In [ ]:
middle_items = food_stuff_lt[len(food_stuff_lt)//2 - 1:len(food_stuff_lt)//2 + 1] if len(food_stuff_lt) % 2 == 0 else food_stuff_lt[len(food_stuff_lt)//2]
print(f"Middle Item(s): {middle_items}")

#### Question 5:
Slice out the first three items and the last three items from food_staff_lt list

In [ ]:
first_three = food_stuff_lt[:3]
last_three = food_stuff_lt[-3:]

print(f"First Three Items: {first_three}")
print(f"Last Three Items: {last_three}")

#### Question 6:
Delete the food_staff_tp tuple completely

In [15]:
del food_stuff_tp

#### Question 7:
Check if an item exists in tuple:
 * Check if 'Estonia' is a nordic country
 * Check if 'Iceland' is a nordic country

 ``` markdown
  nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')

In [ ]:
nordic_countries = ('Denmark', 'Finland', 'Iceland', 'Norway', 'Sweden')

print("Is 'Estonia' a Nordic country?", "Estonia" in nordic_countries)
print("Is 'Iceland' a Nordic country?", "Iceland" in nordic_countries)

## Sets Exercises
``` python
 # sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

### Sets Exercises: Level 1

#### Question 1:
Find the length of the set it_companies

In [ ]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print(len(it_companies))

#### Question 2:
Add 'Twitter' to it_companies

In [ ]:
it_companies.add('Twitter')
print(it_companies)

#### Question 3:
Insert multiple IT companies at once to the set it_companies

In [ ]:
it_companies.update(['Tesla', 'Spotify', 'LinkedIn'])
print(it_companies)

#### Question 4:
Remove one of the companies from the set it_companies

In [ ]:
it_companies.remove('LinkedIn')  
print(it_companies)

#### Question 5:
What is the difference between remove and discard

* remove: Raises a KeyError if the item is not in the set.
* discard: Does not raise an error if the item is not found.

In [ ]:

# Try to remove 'LinkedIn' using remove
try:
    it_companies.remove('LinkedIn')  # Raises KeyError because 'LinkedIn' is not in the set
except KeyError as e:
    print(f"Error using remove: {e}")

# Try to remove 'LinkedIn' using discard
it_companies.discard('LinkedIn')  # No error even if 'LinkedIn' is not in the set
print("No error using discard")

### Sets Exercises: Level 2

#### Question 1:
Join A and B

In [ ]:
joined_set = A.union(B)
print(f"The Result For Joined Sets Of A and B Is : {joined_set}")

#### Question 2:
Find A intersection B

In [ ]:
intersection = A.intersection(B)
print(f"Intersection of A and B Is : {intersection}")

#### Question 3:
Is A subset of B

In [ ]:
subset = A.issubset(B)
print(f"Is A Subset of B : {subset}")

#### Question 4:
Are A and B disjoint sets

In [ ]:
disjoint = A.isdisjoint(B)
print(f"Are A and B disjoint sets : {disjoint}")

#### Question 5:
Join A with B and B with A

In [ ]:
A_with_B = A.union(B)
B_with_A = B.union(A)
print(f"The Joined A with B is : {A_with_B}")
print(f"The Joined B with A is : {B_with_A}")

#### Question 6:
What is the symmetric difference between A and B

In [ ]:
sym_diff = A.symmetric_difference(B)
print(sym_diff)

#### Question 7:
Delete the sets completely

In [33]:
del A, B

### Sets Exercises: Level 3

#### Question 1:
Convert the ages to a set and compare the length of the list and the set, which one is bigger?

In [ ]:
age_set = set(age)
print(f"Length of age list: {len(age)}")
print(f"Length of age set: {len(age_set)}")
# The list can have duplicates, the set removes them, so the set is smaller or equal in size.

#### Question 2:
Explain the difference between the following data types: string, list, tuple and set

* String: is an immutable sequence of characters eg: 'hello','12number ','01234'.
* List: is a collection of Ordered, mutable data assign to a variable inclosed in curly braket seperated by coma. Allows duplicates. Example: [1, 2, 3].
* Tuple: is an ordered, immutable collection in the bracket separated by coma. Allows duplicates. Example: (1, 2, 3).
* Set: is an Unordered, mutable collection. Does not allow duplicates. Example: {1, 2, 3}.

#### Question 3:
I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

In [ ]:
sentence = "I am a teacher and I love to inspire and teach people."
words = sentence.split()  # Split sentence into words
unique_words = set(words)  # Convert to set for unique words
print(len(unique_words))  # Number of unique words